In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_csv('csv/weather.csv')

In [3]:
df.head()

    Outlook  Temp Humidity  Windy Species Play
0     Sunny   Hot     High  False      No  NaN
1     Sunny   Hot     High   True      No  NaN
2  Overcast  Mild     High  False     Yes  NaN
3     Rainy  Mild     High  False     Yes  NaN
4     Rainy  Cool   Normal  False     Yes  NaN

In [4]:
df.describe()

       Outlook  Temp Humidity  Windy Species Play
count       14    14       14     14      14    1
unique       3     3        2      3       3    1
top      Sunny  Mild   Normal  False     Yes  Yes
freq         5     7        8      8       9    1

In [5]:
X = df.drop(['Play'], axis=1)
y = df['Play']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
dtc = DecisionTreeClassifier()