In [2]:
a = 15

In [6]:
List = [15, 18, 66, 98, 17, 99]

In [7]:
print(List[1])

18

In [8]:
List[2] = 77
print(List)

[15, 18, 77, 98, 17, 99]

In [11]:
sortedList = List.sort()
print(List)

[15, 17, 18, 77, 98, 99]

In [21]:
scores = [24, 78, 54, 2]
scores.sort()
scores

[2, 24, 54, 78]

In [22]:
print(List[0:2])

[15, 17]

In [40]:
Marks = [78, 100, 128, 50, 55, 75]
Marks.append(45)
print(Marks)

[78, 100, 128, 50, 55, 75, 45]

In [27]:
Marks[-1]

75

In [28]:
name = "SHRUTI RAJWAR"

In [29]:
name[2]

'R'

In [30]:
age = 13

In [31]:
type(age)

int

In [32]:
type(name)

str

In [33]:
print(name + age)

TypeError: can only concatenate str (not "int") to str

In [34]:
print(name, age)

SHRUTI RAJWAR 13

In [38]:
print(f"hello, my name is {name} and my age is {age}")

hello, my name is SHRUTI RAJWAR and my age is 13

In [39]:
print("hello, my name is", name, "and my age is", age)

hello, my name is SHRUTI RAJWAR and my age is 13

In [41]:
a = 5
b = 10

In [42]:
5//2

2

In [44]:
10%10

0

In [45]:
Markst = (78, 100, 128, 50, 55, 75)

In [54]:
roll = {"peter":45, "parker":55}
marks = dict(peter = 45, parker = 55, jack = 77)

In [55]:
marks

{'peter': 45, 'parker': 55, 'jack': 77}

In [58]:
marks["jack"]

77

In [60]:
marks["parker"]

55

In [4]:
print("Enter your marks out of 100: ")
mark = input
print(mark)
print(type(mark))

Enter your marks out of 100:
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7f6fcfeadd80>>
<class 'method'>